<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h1>Customers Management</h1>
        </div>
        <div class="pull-right" style="padding-top:30px">
            <div class="box-tools" style="display:inline-table">
                <div class="input-group">
                    <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search"
                           ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip=""
                           data-original-title="Min character length is 3">
                    <span class="input-group-addon">Search</span>
                </div>
            </div>

        </div>
    </div>
</div>

<table class="table table-bordered pagin-table">
    <thead>
    <tr>
        <th>No</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Created date</th>
        <th>Updated date</th>
        <th width="220px"><button class="btn btn-success" data-toggle="modal" data-target="#create-user">Create New</button></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="value in data | itemsPerPage:5" total-items="totalItems">
        <td>{{ ((pageNumber- 1) * 5) + ($index + 1) }}</td>
        <td>{{ value.fullname }}</td>
        <td>{{ value.email }}</td>
        <td>{{ value.created_date }}</td>
        <td>{{ value.updated_date }}</td>
        <td>
            <button data-toggle="modal" ng-click="edit(value.id)" data-target="#edit-data" class="btn btn-primary">
                Edit
            </button>
            <button ng-click="remove(value,$index)" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls class="pull-right" on-page-change="pageChanged(newPageNumber)"
                         template-url="templates/dirPagination.html"></dir-pagination-controls>

<!-- Create Modal -->
<div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="addItem" role="form" ng-submit="saveAdd()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create customer</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <strong>Fullname : </strong>
                                <div class="form-group">
                                    <input ng-model="form.fullname" type="text" placeholder="FullName" name="fullname"
                                           class="form-control" required/>
                                </div>
                            </div>
                            <div class="col-sm-6" style="clear: both;">
                                <strong>Email : </strong>
                                <div class="form-group">
                                    <input ng-model="form.email" type="email" placeholder="Email" name="email"
                                           class="form-control" required/>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="editItem" role="form" ng-submit="saveEdit()">
                <input ng-model="form.id" type="hidden" placeholder="Name" name="name" class="form-control"/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input ng-model="form.fullname" type="text" placeholder="Fullname" name="title"
                                           class="form-control" required/>
                                </div>
                            </div>
                            <div class="col-sm-6" style="clear:both;">
                                <div class="form-group">
                                    <input ng-model="form.email" type="email" placeholder="Email123" name="email"
                                           class="form-control" readonly="true" required/>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-disabled="editItem.$invalid" class="btn btn-primary create-crud">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>