<h2>&nbsp;Development environment</h2>
<p>
<strong>OS</strong> : openSUSE Leap 42.2
</p>
<p>
<strong>Server</strong> : Apache/2.4.23
</p>
<p>
<strong>Database</strong> : MySQL Ver 14.14 Distrib 5.6.36
</p>
<p>
<strong>Framework</strong> : Codeignitor 3.1.4
</p>
<p>
<strong>PHP version</strong> : 7.1.5
</p>
<p>
<strong>Frontend</strong> : AngularJs 1.5.9 + Bootstrap 3.3.7
</p>